<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ .Title }}</title>
    <link>{{ .URL }}</link>
    <lastBuildDate>{{ .Date }}</lastBuildDate>
    <atom:link href="{{ .URL }}" rel="self" type="application/rss+xml" />
    {{- range .Articles }}
    <item>
      <title>{{ .Title | html }}</title>
      <link>{{ .URL | html }}</link>
      <guid>{{ .URL | html }}</guid>
      <description>{{ .Description | html }}</description>
    </item>
    {{- end }}
  </channel>
</rss>
